.footer {
  text-align: center;
  border-top: 1px solid $dark;
  padding: 12px 0 90px;
  display: none;

  @include breakpoint(md) {
    padding: 18px 0;
  }

  &__brand {
    width: 56px;

    @include breakpoint(lg) {
      width: 70px;
    }
  }
  &__copyright {
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 2px;

    @include breakpoint(lg) {
      font-size: 16px;
      margin-bottom: 4px;
    }

    span.word-brand {
      font-size: 1.3em;
    }
  }
}
