// scroller
::-webkit-scrollbar {
  background-color: $white;
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: $orange;
}

html {
  scroll-behavior: smooth;
}
body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  // background-color: $yellow;
  &.stuck {
    overflow: hidden;
  }
}

#root {
  padding-top: 59px;
  flex: 1;
  @include breakpoint(lg) {
    padding-top: 69px;
  }
}

a {
  text-decoration: none;
}

.uniq {
  font-family: $uniq;
}

.loader {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
  span.text {
    margin-top: 8px;
    font-weight: 300;
  }
}
