.hero {
  padding: 32px 0 64px;

  @include breakpoint(md) {
    padding: 50px 0;
  }
  @include breakpoint(md) {
    padding: 100px 0;
  }
  &__image {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    @include breakpoint(sm) {
    }
    @include breakpoint(lg) {
      justify-content: flex-end;
    }
    img {
      width: 80%;

      @include breakpoint(sm) {
        width: 60%;
      }
      @include breakpoint(md) {
        width: 100%;
      }
      @include breakpoint(lg) {
        width: 90%;
      }
    }
  }

  &__text {
    // be responsive
    margin-top: 10px;
    text-align: center;
    @include breakpoint(lg) {
      text-align: left;
      margin-top: 0;
    }
    h1 {
      height: 0;
      overflow: hidden;
    }
    img {
      width: 100%;
      @include breakpoint(sm) {
        width: 60%;
      }
      @include breakpoint(md) {
        width: 100%;
      }
    }
    p {
      font-size: 12px;
      font-weight: 300;
      margin: 10px 0 16px;
      @include breakpoint(md) {
        font-size: 14px;
      }
      @include breakpoint(lg) {
        font-size: 18px;
        max-width: 85%;
      }
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $orange;
      max-width: 320px;
      width: 90%;
      padding: 12px 16px;
      border-radius: 6px;
      color: white;
      font-size: 14px;
      font-weight: bold;
      // be responsive
      margin: 0 auto 30px;
      @include breakpoint(lg) {
        padding: 14px 0;
        font-size: 16px;
        margin: 20px 0 56px;
      }

      img {
        display: inline-block;
        width: fit-content;
        height: 26px;
        margin-left: 4px;
      }
    }
    .displayed {
      display: grid;
      // be responsive
      min-width: 100%;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 8px;
      img {
        width: 100%;
      }
    }
  }
}

.list {
  padding: 30px 0;

  @include breakpoint(lg) {
    padding: 80px 0;
  }

  &__heading {
    margin-bottom: 8px !important;

    @include breakpoint(lg) {
      margin-bottom: 40px;
      margin-bottom: 16px !important;
    }

    h2 {
      text-align: center;
      margin-bottom: 20px;
    }
    .search-box {
      border: 1px solid black;
      padding: 8px 20px;
      border-radius: 99px;
      display: flex;
      justify-content: space-between;

      @include breakpoint(lg) {
        padding: 16px 28px;
      }

      input[type="text"] {
        flex: 1;
        min-width: 50%;
        border: none;
        outline: none;
        background-color: transparent;
        padding-right: 10px;
      }

      .controller {
        font-weight: 300;
        display: flex;
        align-items: center;
        justify-content: space-between;

        div {
          display: flex;
          align-items: center;
          margin-left: 16px;
          cursor: pointer;

          @include breakpoint(lg) {
            margin-right: 20px;
          }

          i.search-filter-logo {
            margin-right: 5px;
            font-size: 18px;
            color: rgb(102, 102, 102);
          }
          p {
            margin: 0;
            line-height: 14px;
            font-size: 14px;
            @include breakpoint(lg) {
              font-size: 16px;
            }
          }
        }

        i.search-reset {
          cursor: pointer;
          font-size: 22px;
          color: $orange;
          visibility: hidden;

          @include breakpoint(lg) {
            font-size: 26px;
          }

          &.show {
            visibility: visible;
          }
        }
      }
    }
  }
  &__filter {
    transition: 300ms;
    overflow: hidden !important;
    background-color: $gray;
    border-radius: 8px;
    padding: 0;
    margin: 0;
    height: 0;

    &.show {
      padding: 26px 16px;
      height: fit-content;
      min-height: 100px;
      margin-bottom: 8px;
      @include breakpoint(lg) {
        padding: 26px 24px;
      }
    }

    &.show ~ hr {
      display: block;
      @include breakpoint(lg) {
        margin: 16px 0 24px;
      }
    }

    &__group {
      margin-bottom: 18px;

      h6 {
        margin-bottom: 12px;
        font-size: 16px;
        @include breakpoint(lg) {
          font-size: 18px;
          margin-bottom: 16px;
        }
      }

      .wrap {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
        gap: 6px;

        @include breakpoint(md) {
          grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
          gap: 12px;
        }
      }

      &__item {
        width: 100%;
        padding: 8px 3px;
        background-color: white;
        border-radius: 6px;

        cursor: pointer;
        @include breakpoint(lg) {
          padding: 12px;
        }
        img {
          width: 100%;
          margin-bottom: 3px;
          object-fit: cover;
          @include breakpoint(lg) {
            margin-bottom: 8px;
          }
        }

        p {
          font-size: 9px;
          margin-bottom: 0;
          word-break: break-all;
          text-align: center;

          @include breakpoint(md) {
            font-size: 15px;
          }
          @include breakpoint(lg) {
            font-size: 14px;
          }
        }
      }
    }
  }

  .filter-status-wrap {
    position: relative;
    text-align: center;
    display: none;
    margin-bottom: 2px;

    &::before {
      content: "";
      width: 100%;
      height: 1px;
      background-color: rgb(73, 73, 73);
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(50%);
    }

    .filter-status {
      display: inline;
      position: relative;
      text-align: center;
      font-size: 12px;
      margin-bottom: 4px;
      color: rgb(109, 109, 109);
      background-color: white;
      padding: 0 16px;

      @include breakpoint(md) {
        font-size: 16px;
      }

      span {
        font-weight: bold;
      }
    }
  }

  &__child {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__card {
      box-sizing: border-box;
      cursor: pointer;
      width: 50%;
      padding: 6px;
      margin-bottom: 6px;

      @include breakpoint(md) {
        width: 230px;
        margin-bottom: 8px;
      }
      @include breakpoint(lg) {
        width: 254px;
        padding: 12px;
        margin-bottom: 10px;
      }

      &:hover {
        .picture {
          transform: scale(1.2);
        }
      }
      .wrap {
        overflow: hidden;
        height: 110px;
        position: relative;
        margin-bottom: 6px;
        border-radius: 6px;

        @include breakpoint(md) {
          height: 120px;
        }
        @include breakpoint(lg) {
          margin-bottom: 12px;
          height: 160px;
        }

        .picture {
          position: absolute;
          width: 100%;
          height: 100%;
          background-color: $gray;
          background-position: center;
          background-size: cover;
          transition: 500ms;
        }
        .label {
          position: absolute;
          right: 0;
          top: 0;
          background-color: $orange;
          font-weight: 300;
          color: white;
          border-bottom-left-radius: 90px;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 4px 16px 4px 26px;
          font-size: 12px;

          @include breakpoint(lg) {
            font-size: 16px;
          }
        }
      }
      .food-title {
        h6 {
          font-size: 13px;
          font-weight: 500;
          color: $dark;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin: 0;

          @include breakpoint(md) {
            font-size: 15px;
          }
          @include breakpoint(lg) {
            font-size: 16px;
          }
        }
      }
    }
  }
}

.ending {
  padding: 40px 0;

  @include breakpoint(md) {
    padding: 50px 0 60px;
  }
  @include breakpoint(lg) {
    padding: 80px 0 150px;
  }

  &__image {
    text-align: center;
    img {
      width: 90%;

      @include breakpoint(md) {
        width: 100%;
      }
    }
  }
  &__text {
    text-align: center;
    @include breakpoint(md) {
      text-align: left;
    }
    h2 {
      margin-top: 26px;
    }
    p {
      font-weight: 300;
      font-size: 13px;

      @include breakpoint(md) {
        font-size: 14px;
      }

      @include breakpoint(lg) {
        font-size: 16px;
      }
    }
  }
}
