.navbar {
  position: fixed;
  z-index: 99;
  width: 100%;
  background-color: $white;
  padding: 4px 0 10px;

  .container {
    background-color: $white;
    position: relative;
    z-index: 99;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__brand {
    img {
      height: 45px;

      @include breakpoint(lg) {
        height: 55px;
      }
    }
  }

  &__toggle {
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-bottom: 3.5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    cursor: pointer;
    transition: 500ms ease-in-out;

    .line-toggle {
      display: block;
      height: 2px;
      background-color: $dark;
      margin: 2.5px 2px;
      border-radius: 10px;
      transition: 500ms;
      &:first-child {
        transform-origin: left;
      }

      &:last-child {
        transform-origin: left;
      }
    }
    &.change {
      transform: rotate(360deg) translateX(8px) scale(1.08);
    }
    &.change .line-toggle {
      &:first-child {
        transform: rotate(44deg) translateX(-3px);
      }

      &:nth-child(2) {
        transform: scale(0);
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-44deg) translateX(-3px);
      }
    }
  }

  &__navigation {
    margin-bottom: 4px;
    a {
      color: $dark;
      text-decoration: none;
      padding: 16px 8px;
      font-weight: normal;
      margin-left: 55px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        height: 2px;
        width: 0%;
        background-color: $dark;
        transition: 300ms ease-in-out;
      }

      &:hover::after {
        left: 0;
        right: auto;
        width: 100%;
      }
      &.active:hover::after {
        width: 0%;
      }

      &.active {
        font-weight: bold;
      }
    }
  }
}
.navbar__mobile__navigation {
  position: fixed;
  z-index: 8;
  bottom: 12px;
  padding: 0 16px;
  left: 0;
  right: 0;
  width: 100%;

  .wrap {
    width: 100%;
    max-width: 480px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 8px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
    border-radius: 99px;
    background-color: $white;
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);
  }

  a {
    color: $dark;
    text-decoration: none;
    padding: 14px 0 10px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    i {
      font-size: 1.3em;
    }
    &.active {
      font-weight: bold;
    }
  }
}
